@mixin vaadin-icons {
  $vaadin-icons-pathPrefix: null;

  @if $v-relative-paths == false {
    $vaadin-icons-pathPrefix: '../valo/fonts/vaadin-icons/';
  }

  @font-face {
    font-family: 'Vaadin-Icons';
    src: url('#{$vaadin-icons-pathPrefix}Vaadin-Icons.woff') format('woff');
  }

  .Vaadin-Icons {
    font-family: 'Vaadin-Icons', sans-serif;
  }
}
