.v-calendar-month-day-scrollable {
  overflow-y: scroll;
}

.v-calendar-week-wrapper {
  position: relative;
  overflow: hidden;
}

.v-calendar-current-time {
  position: absolute;
  left: 0;
  width: 100%;
  height: 1px;
  background: red;
  z-index: 2;
}

.v-calendar-event-resizetop,
.v-calendar-event-resizebottom {
  position: absolute;
  height: 5%;
  min-height: 3px;
  width: 100%;
  z-index: 1;
}

.v-calendar-event-resizetop {
  cursor: row-resize;
  top: 0;
}

.v-calendar-event-resizebottom {
  cursor: row-resize;
  bottom: 0;
}

.v-calendar-header-month td:first-child {
  padding-left: 20px;
}

.v-calendar-month-sizedheight .v-calendar-month-day {
  height: 100px;
}

.v-calendar-month-sizedwidth .v-calendar-month-day {
  width: 100px;
}

.v-calendar-header-month-Hsized .v-calendar-header-day {
  width: 101px;
}

.v-calendar-header-month-Hsized td:first-child {
  padding-left: 21px;
}

.v-calendar-header-day-Hsized {
  width: 200px;
}

.v-calendar-week-numbers-Vsized .v-calendar-week-number {
  height: 100px;
  line-height: 100px;
}

.v-calendar-week-wrapper-Vsized {
  height: 400px;
  overflow-x: hidden !important;
}

.v-calendar-times-Vsized .v-calendar-time {
  height: 38px;
}

.v-calendar-times-Hsized .v-calendar-time {
  width: 42px;
}

.v-calendar-day-times-Vsized .v-datecellslot,
.v-calendar-day-times-Vsized .v-datecellslot-even {
  height: 18px;
}

.v-calendar-day-times-Hsized,
.v-calendar-day-times-Hsized .v-datecellslot,
.v-calendar-day-times-Hsized .v-datecellslot-even {
  width: 200px;
}
