@use 'sass:math';

.v-scrollable:focus {
  outline: none;
}

img.v-icon {
  vertical-align: middle;
}

.v-caption-on-left .v-caption,
.v-caption-on-right .v-caption {
  padding-top: 0;
  padding-bottom: 0;
}

.v-icon + .v-captiontext,
.v-icon + span {
  margin-left: round(math.div($v-unit-size, 5));

  &:empty {
    margin-left: 0;
  }
}

.v-disabled {
  cursor: default !important;
}

.v-draggable {
  -webkit-user-select: none !important;
  user-select: none !important;
}

.v-drag-element {
  color: $v-font-color;
  box-shadow: 0 2px 10px rgba(#000, 0.2);
  border-radius: $v-border-radius;
  overflow: hidden;
  opacity: 0.5;
}
