.v-widget {
  // Baseline expectations for all Vaadin widgets
  box-sizing: border-box;
  display: inline-block;
  vertical-align: top;

  // Reset, since ordered layout uses text-align for horizontal alignment inside slots and
  // white-space: nowrap; for horizontal layout orientation
  text-align: left;
  white-space: normal;
}

.v-generated-body {
  overflow: hidden;
  margin: 0;
  padding: 0;
  border: 0;
}

.v-app {
  height: 100%;
  // Cancel tap highlight from all elements inside the app
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);

  // Prevent iOS text size adjust after orientation change, without disabling user zoom
  -webkit-text-size-adjust: 100%;

  // Disable text selection by default
  -webkit-user-select: none;
  user-select: none;

  // Enable text selection for certain elements
  input[type='text'],
  .v-slot > .v-caption,
  .v-gridlayout-slot > .v-caption,
  .v-has-caption > .v-caption,
  .v-formlayout-captioncell > .v-caption,
  .v-csslayout > .v-caption {
    -webkit-user-select: text;
    user-select: text;
  }
}

.v-ui {
  position: relative;
}

// Prevent margin collapse
.v-ui.v-ui-embedded {
  margin-top: -1px;
  border-top: 1px solid transparent;
}

.v-ui:focus {
  outline: none;
}

.v-overlay-container {
  width: 0;
  height: 0;
}

.v-drag-element {
  z-index: 60000;
  // Override any other position properties
  position: absolute !important;
  cursor: default;
}

.v-clip {
  overflow: hidden;
}

.v-scrollable {
  overflow: auto;

  > .v-widget {
    // Needed for all browsers. Can't really show anything outside the
    // scrolling area anyway, so we can safely hide any overflow
    overflow: hidden;
  }
}

.v-ios.v-webkit .v-scrollable {
  -webkit-overflow-scrolling: touch;
}

//fix for #14813 - unable to scroll on iOS devices
.v-webkit.v-ios .v-browserframe {
  -webkit-overflow-scrolling: touch;
  overflow: auto;
}

.v-assistive-device-only,
.v-assistive-device-only-label label {
  position: absolute;
  top: -2000px;
  left: -2000px;
  width: 10px;
  overflow: hidden;
}

.v-icon {
  cursor: inherit;
  -webkit-user-select: none;
  user-select: none;
}

.v-icon,
.v-errorindicator,
.v-required-field-indicator {
  display: inline-block;
  line-height: inherit;
}

.v-captiontext {
  display: inline-block;
  line-height: inherit;
}
