@mixin valo-grid($primary-stylename: v-grid) {
  .#{$primary-stylename} {
    -webkit-user-select: text;
    position: relative;
    outline: none;
    user-select: text;

    &:focus .#{$primary-stylename}-cell-focused:before {
      display: block;
    }

    &.v-disabled:focus .#{$primary-stylename}-cell-focused:before {
      display: none;
    }
  }

  .#{$primary-stylename}-scroller-horizontal {
    bottom: 0;
    left: 0;
    overflow-y: hidden;
    right: 0;
  }

  .#{$primary-stylename}-scroller-vertical {
    bottom: 0;
    overflow-x: hidden;
    right: 0;
    top: 0;
  }

  .#{$primary-stylename}-tablewrapper {
    box-sizing: border-box;
    overflow: hidden;
    position: absolute;
    z-index: 5;

    & > table {
      border-spacing: 0;
      table-layout: fixed;
      width: inherit;
    }
  }

  .#{$primary-stylename}-header,
  .#{$primary-stylename}-body,
  .#{$primary-stylename}-footer {
    position: absolute;
    left: 0;
    width: inherit;
    z-index: 10;
  }

  .#{$primary-stylename}-header,
  .#{$primary-stylename}-header-deco {
    top: 0;
  }

  .#{$primary-stylename}-header-deco {
    position: absolute;
    right: 0;
    box-sizing: border-box;
  }

  .#{$primary-stylename}-body {
    touch-action: none;
    z-index: 0;
    top: 0;

    .#{$primary-stylename}-row {
      position: absolute;
      top: 0;
      left: 0;
    }
  }

  .#{$primary-stylename}-row {
    display: block;
    width: inherit;
  }

  .#{$primary-stylename}-cell {
    display: block;
    float: left;
    white-space: nowrap;
    box-sizing: border-box;
    overflow: hidden;

    &.frozen {
      position: relative;
      z-index: 11;
    }

    > * {
      line-height: 1.55;
      vertical-align: middle;
    }

    > div {
      display: inline-block;
    }

    div.component-wrap {
      width: 100%;
    }
  }

  .#{$primary-stylename}-spacer {
    margin-top: -1px;
    position: absolute;
    display: block;
    padding-left: 1px;

    > td {
      width: 100%;
      height: 100%;
      box-sizing: border-box;
    }
  }

  .header-drag-table {
    border-spacing: 0;
    position: relative;
    table-layout: fixed;
    width: inherit; // a decent default fallback

    .#{$primary-stylename}-header {
      position: absolute;

      > td {
        margin-top: -10px;
        opacity: 0.9;
        z-index: 30000;
      }
    }
  }

  .#{$primary-stylename}-column-resize-simple-indicator {
    position: absolute;
    width: 3px;
    top: 0;
    z-index: 9001;
    background: #fff;
    box-shadow: 0 0 5px #000;

    user-select: none;
  }

  .#{$primary-stylename}-footer {
    td {
      font-weight: inherit;
      border-bottom: none;

      &:first-child {
        border-left: none;
      }
    }
  }

  .#{$primary-stylename}-horizontal-scrollbar-deco {
    border-top: none;
  }

  .#{$primary-stylename}-cell-focused {
    position: relative;

    &:before {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      display: none;
      pointer-events: none;
    }
  }

  .#{$primary-stylename}-editor {
    position: absolute;
    z-index: 20;
    overflow: hidden;
    left: 0;
    right: 0;
    box-sizing: border-box;
    box-shadow: 0 0 9px rgba(0, 0, 0, 0.2);
  }

  .#{$primary-stylename}-editor-cells {
    position: relative;
    white-space: nowrap;
    z-index: 1;

    &.frozen {
      z-index: 2;
    }

    > div {
      display: inline-block;
      box-sizing: border-box;
      vertical-align: middle;

      &:before {
        content: '';
        display: inline-block;
        height: 100%;
        vertical-align: middle;
      }

      &:first-child {
        border-left: none;
      }

      > * {
        vertical-align: middle;
        display: inline-block;
      }

      .v-filterselect {
        padding-left: 0;
      }

      .v-textfield,
      .v-datefield,
      .v-filterselect {
        min-width: 100%;
        max-width: 100%;
        min-height: 100%;
        max-height: 100%;
      }

      .v-select,
      .v-select-select {
        min-width: 100%;
        max-width: 100%;
      }

      .error::before {
        position: absolute;
        display: block;
        height: 0;
        width: 0;
        content: '';
      }

      .v-textfield-focus,
      .v-datefield .v-textfield-focus,
      .v-filterselect-input:focus {
        position: relative;
      }
    }
  }

  .#{$primary-stylename}-editor-footer {
    display: table;
    padding: 0 5px;

    + .#{$primary-stylename}-editor-cells > div {
      border-bottom: none;
    }

    &:first-child {
      border-top: none;
      margin-top: 0;
    }
  }

  .#{$primary-stylename}-editor-message,
  .#{$primary-stylename}-editor-buttons {
    display: table-cell;
    white-space: nowrap;
    vertical-align: middle;
  }

  .#{$primary-stylename}-editor-message {
    width: 100%;
    position: relative;

    > div {
      position: absolute;
      width: 100%;
      overflow: hidden;
      text-overflow: ellipsis;
      top: 0;
    }
  }

  .#{$primary-stylename}-editor-save {
    margin-right: 4px;
  }

  .#{$primary-stylename}-header .dragged {
    opacity: 0.5;
    transition: opacity 0.3s ease-in-out;
  }

  .#{$primary-stylename}-editor-save,
  .#{$primary-stylename}-editor-cancel {
    text-decoration: none;
    border: none;
    background: transparent;
    margin: 0;
    outline: none;
  }

  .#{$primary-stylename}-scroller {
    box-sizing: border-box;
    outline: none;
    position: absolute;
    z-index: 1;
  }
}
