@use 'sass:math';

@mixin valo-progressbar($primary-stylename: v-progressbar) {
  .#{$primary-stylename}-wrapper {
    border-radius: $v-border-radius;
    height: round(math.div($v-unit-size, 4));
    background-color: $v-background-color;
    box-sizing: border-box;
    min-width: $v-unit-size * 2;
  }

  .#{$primary-stylename}-indicator {
    border-radius: $v-border-radius;
    height: inherit;
    background-color: $v-selection-color;
    box-sizing: border-box;
    max-width: 100%;
    min-width: max(#{$v-border-radius} * 2, 3px);
    transition: width 160ms;
  }

  .#{$primary-stylename}-point {
    .#{$primary-stylename}-indicator {
      background: transparent;
      box-shadow: none;
      border: none;
      text-align: right;
      overflow: hidden;

      &:before {
        content: '';
        display: inline-block;
        border-radius: $v-border-radius;
        height: inherit;
        background-color: $v-selection-color;
        box-sizing: border-box;
        max-width: 100%;
        width: round(math.div($v-unit-size, 4));
        vertical-align: top;
      }
    }
  }

  .#{$primary-stylename}-indeterminate {
    @include valo-spinner;

    .#{$primary-stylename}-wrapper {
      display: none;
    }
  }
}
