$valo-richtextarea-use-valo-icons: true !default;

@if $valo-richtextarea-use-valo-icons {
  // List of title attribute values and Valo Icons for the formatting buttons
  $icons: 'Toggle Bold' '\f032', 'Toggle Italic' '\f033', 'Toggle Underline' '\f0cd', 'Toggle Subscript' '\f12c',
    'Toggle Superscript' '\f12b', 'Left Justify' '\f036', 'Center' '\f037', 'Right Justify' '\f038',
    'Toggle Strikethrough' '\f0cc', 'Indent Right' '\f03c', 'Indent Left' '\f03b', 'Insert Horizontal Rule' '\2014',
    'Insert Ordered List' '\f0cb', 'Insert Unordered List' '\f0ca', 'Insert Image' '\f03e', 'Create Link' '\f0c1',
    'Remove Link' '\f127', 'Remove Formatting' '\f12d';

  .v-richtextarea .gwt-RichTextToolbar-top {
    img {
      display: none;
    }

    @each $pair in $icons {
      $first-of-pair: nth($pair, 1);
      $last-of-pair: nth($pair, length($pair));
      div[title='#{$first-of-pair}']:before {
        content: '#{$last-of-pair}';
      }
    }
  }
}
