.v-table-header table,
.v-table-footer table,
.v-table-table {
  border-spacing: 0;
  border-collapse: separate;
  margin: 0;
  padding: 0;
  border: 0;
  line-height: $v-line-height;
}

.v-table-resizer,
.v-table-sort-indicator {
  float: right;
}

.v-table-caption-container-align-center {
  text-align: center;
}

.v-table-caption-container-align-right {
  text-align: right;
}

.v-table-header td,
.v-table-footer td,
.v-table-cell-content {
  padding: 0;
}

.v-table-sort-indicator {
  width: 0;
}
