$v-font-color: #23222c !default;
$v-font-size: 16px !default;

$v-border-radius: 4px !default;

$v-selection-color: #088ed8 !default;

$v-error-indicator-level-info-color: #00a7f5 !default;
$v-error-indicator-level-warning-color: #fc9c00 !default;
$v-error-indicator-level-error-color: #ed473b !default;
$v-error-indicator-level-critical-color: #fa007d !default;
$v-error-indicator-level-system-color: #bb00ff !default;

$v-unit-size: 32px !default;
